<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Create a new user</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<style>
	body{
		color:black;
		font-size:16px;
		font-weight:bold;
		background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/1/13/PinkFloydWallCoverOriginalNoText.jpg/220px-PinkFloydWallCoverOriginalNoText.jpg");
		}
	</style>
</head>
</head>
<body>
<div class="container">
<a href="/logout">Logout</a>
<a href="/dashboard">Dashboard</a>
<hr>
<h3>Add a new user</h3>
<form action="/create" method="post">
	{%csrf_token %}
	Email address: <input type="email" name="email" required>
	<br><br>
	First Name: <input type="text" name="first_name"required>
	<br><br>
	Last Name: <input type="text" name="last_name" required>
	<br><br>
	Password: <input type="password" name="password" required>
	<br>
	<input type="submit" value="Create">
</form>
</div>
</body>
</html>